@use "mixin" as *;
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
    column-gap: toRem(20);
    row-gap: toRem(30);
}
[class*="--grid"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(490), 1fr));
    column-gap: toRem(20);
    row-gap: toRem(30);
    @media (max-width: toEm($mobileSmall)) {
        grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
    }
}
[class*="--flex"] {
    display: flex;
    // gap: toRem(10);
}
[class*="--flex-column"] {
    display: flex;
    // gap: toRem(10);
    flex-direction: column;
}
