//screen sizes
// Min page width
$minWidth: 320;
// Screen width
$maxWidth: 1920;
// Container width
$maxWidthContainer: 1530;
// Container safe border
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// break points
$bigScreen: 1920.98;
$pc: 1023.98;
$tablet: 990.98;
$mobile: 767.98;
$mobileSmall: 479.98;

// colors
$red: rgb(224, 152, 152);
$blue: rgb(143, 143, 233);
$purple: rgb(163, 116, 163);
$green: rgb(165, 208, 145);
$lightGray: #e2e2e2;
$whiteBg: #fefefe;
